

.development-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 5vw;
    background-color: transparent;
    margin: 0px 5px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 10px;
    border-radius: 20px;
    border-color: transparent;  
    border: 5px solid transparent;
    cursor: pointer;
}
.btn--python{
    background-image: url('../../public/images/python-logo.png');
}

.btn--java{
    background-image: url('../../public/images/java-logo.png')
}

.btn--react{
    background-image: url('../../public/images/react-logo.png')
}

.development-button:hover {    
    border-color: #6bc6f0;
    background-color: white;
  
  }