.nametag{
    
    background-color: none;
    

}

/* h1{
    text-align: center;
    color: white;
}

div{
    text-shadow: 0px 0px 8px rgba(32,194,14,0.8);
    color: #20c20e;
    font-size: 100px;
} */