.container{
    display: flex;
    flex-direction: column;
    border-color: black;
    padding: 20px 20px 20px 20px;
    background-color: blue;
    align-items: center;
    justify-content: center;


}